---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="Sobre mim">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Olá pessoal. Sou Tiago Barantini. Tenho uma especialização em Engenharia
      de Dados, destacando minha experiência com Apache Spark e SQL Server.
    </p>
    <p class="text-sm font-light">
      Além disso, sou entusiasta de jogos eletrônicos, particularmente
      interessado em Magic The Gathering.
    </p>
    <p class="text-sm font-light">
      Valorizo a integração de tecnologia avançada com soluções práticas. Se
      houver interesse em discutir a convergência de dados e entretenimento
      digital, estou à disposição para colaborações e discussões construtivas.
    </p>

    <p class="text-sm font-light">
      As técnologias que mais me interesso são:
      <br />
      <ul class="list-disc list-inside">
        <li>Data Warehouse</li>
        <li>Administração de Banco de dados</li>
        <li>Gestão de Projetos</li>
        <li>Python</li>
        <li>MySQL</li>
        <li>NoSQL</li>
      </ul>
    </p>
  </div>
</Card>
