---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">bem-vindo</h6>
        <p class="m-0 font-light text-xl">
          Olá pessoal, sou <b class="bold-text">Tiago Barantini</b>. Especializado em Engenharia de Dados
          com foco em Apache Spark e SQL Server. Além disso, tenho paixão por
          video games e Magic The Gatering. Aberto a colaborações e discussões
          na interseção de tecnologia e entretenimento.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin</span>
          </Button>
        </a>
        <a href={LINKS.instagram} aria-label="linkeding profile" target="_blank">
          <Button aria-label="instagram profile">
            <Icon name="ri:instagram-fill" class="h-6" />
            <span class="sr-only">Instagram</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/me.gif"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="memoji of gianmarco"
    />
  </div>
</Card>
